<head>
  <meta charset="UTF-8"/>
<title>Push Notification</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link href="css/Style.css" type="text/css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
<style>
    body    { padding-top:50px; }
</style>
  </head>